:root{
  background-size: cover;
  background-repeat: no-repeat;
  background: #223254;
  background: radial-gradient(at center, #1d2a47, #181324);
  background-attachment: fixed;
}

@font-face {
  font-family: 'Kanit-black';
  src: url(./assets/fonts/Kanit-Medium.ttf);
}

@font-face {
  font-family: 'Roboto-slab';
  src: url(./assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}